
.payrol {
  text-align: center;
  color: white;
  border: 1px solid #323232;
  background-color: #323232;
  margin:  100px 20%;
  padding: 5% 0;
  border-radius: 20px;
}
.home{
  text-align: center; 
  align-content: center;
  color: white;
  background-color: #323232;
  height: 100vh ;
}
#b{
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 50px;
}
#b,#b1,#b2,#b3{
  border-radius: 10px;
  outline: none;
  background-color: #212121;
  color: white;
  padding: 10px;
}

#in{
  width: 95%;
  border-radius: 10px 0 0 0;
  padding: 5px;
}
.notfound{
  background-color: #212121;
  color: white;
  text-align: center;
  height: 100vh;
  
  padding: 10% 0 0 0;
}
#four{
  font-size: 64px;
  
}
#follow{
  text-align: center;
  
}




